<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <span class="navbar-brand" href="#">
            <img src="../../../assets/images/logo.png" height="50" alt="logo">
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" routerLink='/'>The What</a>
            </li>
            <li class="nav-item mr-4 ml-4">
                <a class="nav-link" href="#">The Why</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">The Who</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link mr-4" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <button class="nav-link btn btn-primary" routerLink='/signup'>Sign Up</button>
            </li>
        </ul>
    </div>
</nav>