<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-login">
            <h5>NEW PLATAFORM</h5>
            <h1 class="mb-5">Your Next <br> Social Life.</h1>
            <h6 class="mb-5">Your new Social Media Plataform with <br> stuff that actually matters.</h6>
            <a href="" class="btn btn-primary">Get Started</a>
        </div>
        <div class="col-md-6 justify-content-center">
            <img src="../../../assets/images/bg-1.png" alt="" height="600px" class="img-fluid">
        </div>
    </div>
</div>

<app-footer></app-footer>